<script type='text/javascript'>
 $(function() {
   
   Dashing.widget_base_dimensions = [187, 187]
  Dashing.numColumns = 5
 });
 </script>

 <script type="text/javascript">

function toggle_kitchen_scene() {
	
	$.ajax({
	  type: 'POST',
	  url: 'http://192.168.178.26:3000/api/hue/groups/9/scenes/2LQymE8reGFuffW/toggle',
	  data: {}
	});
}

function toggle_espresso_machine() {
	
	$.ajax({
	  type: 'POST',
	  url: 'http://192.168.178.26:3000/api/espresso/machine/Krupps/state/toggle',
	  data: {
	  	widgetIds: ['espresso_currentStatus']
	  }
	});
}

function add_to_countdown(seconds) {
	
	$.ajax({
	  type: 'POST',
	  url: 'http://192.168.178.26:3000/api/espresso/machine/Krupps/state/countdown/' + seconds,
	  data: {}
	});
}
</script>

 <style type="text/css">
body {
  font-size: 10px;
}

h1 {
   font-size: 30px;
   margin-bottom: 5px;
   margin-top: 5px;
}

h2 {
   font-size: 30px;
}

h3 {
   margin-bottom: 2px;
   margin-top: 2px;
   font-size: 25px;
}

li {
   font-size: 12px;
}

.updated-at {
  font-size: 10px;
  bottom: 2px;
}

.more-info {
  font-size: 12px;
  bottom: 15px;
}
.widget {
  vertical-align: top;
  padding: 2px 3px;
}

.widget-number .change-rate {
     font-size: 19px;
}
.widget-number h2 {
     font-size: 50px;
}
.widget-news h1 {
     font-size: 30px;
}
.widget-news h2 {
     font-size: 20px;
}
.widget-time-since_last p {
     font-size: 17px;
}
.widget-list li {
  margin: 0 3px;
}
.widget-list ol {
  margin: 0 3px;
}
.widget-list ul {
  margin: 0 3px;
}
.widget-list .value {
  margin-left: 4px;
}
.widget-comments .title  {
  margin-bottom: 5px;
}
.widget-graph .x_tick .title {
    font-size: 10px;
    font-weight: 600;
}
.widget-graph .y_tick .title {
    font-size: 8px;
    font-weight: 600;
}
.widget-comments.twitter_mentions p {
    font-size: 15px;
}
.icon-background {
  opacity: 0.1;
  font-size: 125px;
}
</style>

<div class="gridster">
  <ul>
  	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" style="background-color:#F44336;"></div>
      <i class="fa fa-clock-o icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="power_espresso" data-view="Number" data-title="Power" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="kitchenGroupStatus" data-view="Text" data-title="Kitchen Mode" onclick="toggle_kitchen_scene()" style="background-color:#3F51B5"></div>
      <i class="fa fa-lightbulb-o icon-background" style="font-size: 8em;"></i>
    </li>

    <!-- Espresso Controls START -->

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="espresso_currentStatus" data-view="Text" data-title="Status" onclick="toggle_espresso_machine()" data-suffix="s" style="background-color:#FF9800"></div>
      <i class="fa fa-coffee  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="espresso_cleanStatus" data-view="Number" data-title="Clean" onclick="toggle_espresso_machine(8)" data-suffix="s" style="background-color:#FF9800"></div>
      <i class="fa fa-coffee  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="espresso_plus10" data-view="Number" data-title="+ 10s" data-suffix="s" onclick="toggle_espresso_machine(10)" style="background-color:#FF9800"></div>
      <i class="fa fa-coffee  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="espresso_plus50" data-view="Number" data-title="+ 50s" data-suffix="s" onclick="toggle_espresso_machine(50)" style="background-color:#FF9800"></div>
      <i class="fa fa-coffee  icon-background" style="font-size: 8em;"></i>
    </li>

    <!-- Espresso Controls END -->

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="espressoTotal" data-view="Number" data-title="Espresso Total" more-info="Total" onclick="location.href='http://192.168.178.26:3030/espresso'" style="background-color:#000000"></div>
      <i class="fa fa-coffee icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="espressoWeek" data-view="Number" data-title="Espresso Week" more-info="Week" onclick="location.href='http://192.168.178.26:3030/espresso'" style="background-color:#000000"></div>
      <i class="fa fa-coffee icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="homePage" data-view="Changepage" data-icon="arrow-left" data-title="Back" onclick="location.href='http://192.168.178.26:3030/home'" data-fasttransition="true" style="background-color:#000000; font-size: 50px"></div>
    </li>
  </ul>
</div>