<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="home" data-view="Changepage" data-icon="arrow-left" data-title="Back" onclick="location.href='http://localhost:3030/home'" data-fasttransition="true" style="background-color:#085C61"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="espressoTotal" data-view="Number" data-title="Espressos" onclick="location.href='http://localhost:3030/espresso'"></div>
      <i class="fa fa-coffee icon-background" style="font-size: 8em;"></i>
    </li>
  </ul>
</div>