 <script type='text/javascript'>
 function test() {
  alert('Hey');
 }
 </script>
 <script type='text/javascript'>
 $(function() {
   
   Dashing.widget_base_dimensions = [250, 250]
  Dashing.numColumns = 4
 });
 </script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" onclick="location.href='http://localhost:3030/apple_tv'"></div>
      <i class="fa fa-clock-o icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="lightsOn" data-view="Number" data-title="Lights" onclick="location.href='http://localhost:3030/lights'"></div>
      <i class="fa fa-lightbulb-o icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="tvStatus" data-view="Text" data-title="TV" onclick="location.href='http://localhost:3030/tv'"></div>
      <i class="fa fa-television icon-background"  style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="electricityTotalCurrent" data-view="Number" data-title="Electricity" onclick="location.href='http://localhost:3030/power'"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="calendarEventsTotal" data-view="Number" data-title="Calendar Events" onclick="location.href='http://localhost:3030/calendar'"></div>
      <i class="fa fa-calendar  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="currentTemperature" data-view="Number" data-title="Temperature" onclick="location.href='http://localhost:3030/weather'"></div>
      <i class="fa fa-sun-o  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="espressoTotal" data-view="Number" data-title="Espressos" onclick="location.href='http://localhost:3030/espresso'"></div>
      <i class="fa fa-coffee icon-background" style="font-size: 8em;"></i>
    </li>
  </ul>
</div>