<script type='text/javascript'>
 $(function() {
   
   Dashing.widget_base_dimensions = [250, 250]
  Dashing.numColumns = 4
 });
 </script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="home" data-view="Changepage" data-icon="arrow-left" data-title="Back" onclick="location.href='http://192.168.178.26:3030/home'" data-fasttransition="true" style="background-color:#000000"></div>
    </li>
  </ul>
</div>