
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="home" data-view="Changepage" data-icon="arrow-right" data-title="Room Lighting" data-fasttransition="true" style="background-color:#085C61"></div>
    </li>
    


  </ul>
</div>
