<script type='text/javascript'>
 $(function() {
   
   Dashing.widget_base_dimensions = [250, 250]
  Dashing.numColumns = 4
 });
 </script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="power" data-view="Changepage" data-icon="arrow-left" data-title="Back" onclick="location.href='http://192.168.178.26:3030/power'" data-fasttransition="true" style="background-color:#4CAF50"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="electricityTotalCurrent" data-view="Number" data-title="Total Power" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="power_lights" data-view="Number" data-title="Lights" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-lightbulb-o  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="power_espresso" data-view="Number" data-title="Espresso" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="power_computer" data-view="Number" data-title="Computer" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="power_media" data-view="Number" data-title="Media" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="power_kitchen" data-view="Number" data-title="Kitchen" data-suffix="W" style="background-color:#4CAF50"></div>
      <i class="fa fa-plug  icon-background" style="font-size: 8em;"></i>
    </li>
  </ul>
</div>