<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperature_entrance" data-view="Number" data-title="Temperatur Eingang" data-moreinfo="Celcius"></div>
    </li>  
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="temperature_kitchen" data-view="Number" data-title="Temperatur Küche" data-moreinfo="Celcius"></div>
    </li>  
  </ul>
</div>