<script type="text/javascript">

function turn_on(device, page) {
	var bodyData = {"device": device};

	$.ajax({
	  type: 'POST',
	  url: 'http://192.168.178.26:3000/api/harmony/activity/start',
	  data: bodyData
	});

  if (page != null) {
    location.href='http://192.168.178.26:3030/' + page
  }
}

function turn_off() {
  var bodyData = {};

  $.ajax({
    type: 'POST',
    url: 'http://192.168.178.26:3000/api/harmony/activity/stop',
    data: bodyData
  });
}

function go_back() {
  window.history.back();
}

function toggle_cinema_scene() {  
  $.ajax({
    type: 'POST',
    url: 'http://192.168.178.26:3000/api/hue/groups/2/scenes/iaGRsriXS9dvGK4/toggle',
    data: {widgetIds: ['cinemaModeStatus'], restoreScene: 'wt9W4sqN3FU2eCW', transitionTime: 50}
  });
}


</script>

<script type='text/javascript'>
 $(function() {
   
   Dashing.widget_base_dimensions = [250, 250]
  Dashing.numColumns = 4
 });
 </script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chPage_back" data-view="Changepage" data-icon="arrow-left" data-title="Back" onclick="go_back()" data-fasttransition="true" style="background-color:#000000"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tvStatus" data-view="Text" data-title="Turn OFF" onclick="turn_off()" style="background-color:#000000;"></div>
      <i class="fa fa-television icon-background"  style="font-size: 8em;"></i>
    </li>

     <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="tv_live" data-view="Status" onclick="turn_on('Fehrnsehen', 'tv_live')" data-title="Fernsehen" style="background-color:#000000;"></div>
      <i class="fa fa-play icon-background"  style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="tv_apple" data-view="Text" onclick="turn_on('Apple TV sehen', null)" data-title="Apple TV" style="background-color:#000000;"></div>
      <i class="fa fa-apple icon-background" style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tv_netflix" data-view="Text" data-title="Netflix" onclick="turn_on('Netflix', null)" style="background-color:#000000;"></div>
      <i class="fa fa-film icon-background"  style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tv_prime" data-view="Text" data-title="Amazon Video" onclick="turn_on('Amazon Video', null)" style="background-color:#000000;"></div>
      <i class="fa fa-amazon icon-background"  style="font-size: 8em;"></i>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="tv_xbox" data-view="Text" data-title="XBox" onclick="turn_on('XBOX', null)" style="background-color:#000000;"></div>
      <i class="fa fa-gamepad icon-background"  style="font-size: 8em;"></i>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cinemaModeStatus" data-view="Text" data-title="Cinema Mode" onclick="toggle_cinema_scene()" style="background-color:#3F51B5"></div>
      <i class="fa fa-lightbulb-o icon-background" style="font-size: 8em;"></i>
    </li>
  </ul>
</div>